@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
  color: #CCC;
  background-color: #1A1A1A;
  font-family: "Trebuchet MS";
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sp-dd {
  display: none;
}

.sp-preview {
  margin: 0;
}

.sp-replacer {
  padding: 0;
}

.no-resize {
  resize: none;
}

.resize-v {
  resize: vertical;
}

.resize-h {
  resize: horizontal;
}

.resize-all {
  resize: both;
}

.Button, .ToggleButton,
.Text, .TextArea, .Spinner,
.CheckContainer, .RadioContainer,
.ColorPicker, .FileChooser + label,
.Combo, .ComboEditable,
.Table,
.TabFolder,
.ProgressBar {
  margin: 0.25em;
}

#wwt_tooltip {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  border: 1px solid #000;
  color: #CCC;
  position: absolute;
  padding: 2px 5px;
  max-width: 20%;
  font-size: 10pt;
  z-index: 10000;
}

.Button, .ToggleButton, .FileChooser + label, .Combo, .ComboEditableButton {
  border-radius: 5px;
  border: 1px solid #000;
  background: linear-gradient(#313131, #222);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
}
.Button .title, .ToggleButton .title, .FileChooser + label .title, .Combo .title, .ComboEditableButton .title {
  cursor: default;
}
.Button .title.invisible, .ToggleButton .title.invisible, .FileChooser + label .title.invisible, .Combo .title.invisible, .ComboEditableButton .title.invisible {
  opacity: 0;
}

.Button:focus, .ToggleButton:focus, .Combo:focus {
  outline: 0;
}

.Button:hover, .ToggleButton:not(.state-in):hover, .FileChooser + label:hover, .Combo:hover, .ComboEditableButton:hover {
  background: linear-gradient(#414141, #333);
}

.Button.disabled, .Button:hover.disabled,
.ToggleButton.state-out.disabled, .ToggleButton.state-in.disabled,
.ToggleButton.state-out.disabled:hover, .ToggleButton.state-in.disabled:hover,
.Spinner.disabled .SpinnerIncrement, .Spinner.disabled .SpinnerIncrement:hover,
.Spinner.disabled .SpinnerDecrement, .Spinner.disabled .SpinnerDecrement:hover,
.FileChooser.disabled + label, .FileChooser.disabled + label:hover,
.Combo.disabled, .Combo.disabled:hover,
.ComboEditable.disabled .ComboEditableButton, .ComboEditable.disabled .ComboEditableButton:hover {
  color: #444;
  background: none;
  background-color: #101010;
}

.ToggleButton.state-in, .Button:active, .ToggleButton:active, .FileChooser + label:active {
  background: linear-gradient(#181818, #282828);
}

.ToggleButton.state-in:hover {
  background: linear-gradient(#282828, #383838);
}

.ToggleButton.state-in.disabled, .ToggleButton.state-in.disabled:hover {
  background: linear-gradient(#040404, #141414);
}

.ButtonGroup {
  margin: 0.25em;
  display: inline-block;
}

.ButtonGroup > .Button, .ButtonGroup > .ToggleButton {
  margin: 0;
}

.ButtonGroup > .Button:first-child, .ButtonGroup > .ToggleButton:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ButtonGroup > .Button:last-child, .ButtonGroup > .ToggleButton:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ButtonGroup > .Button:not(:last-child):not(:first-child), .ButtonGroup > .ToggleButton:not(:last-child):not(:first-child) {
  border-radius: 0;
}

.ButtonGroup > .Button:not(:last-child), .ButtonGroup > .ToggleButton:not(:last-child) {
  border-right: none;
}

.FileChooser {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.Text, .TextArea, .sp-input {
  border: 1px solid #000;
  background-color: #222;
  color: #CCC;
  font-size: inherit;
  font-family: inherit;
  padding: 3px;
  border-radius: 5px;
  height: calc(1.5em + 2px);
}

.Text.disabled, .TextArea.disabled,
.Spinner.disabled .SpinnerNumber, .Spinner.disabled .SpinnerIncrement, .Spinner.disabled .SpinnerDecrement,
.ComboEditable.disabled .Text {
  background-color: #101010;
  color: #444;
}

.Text::placeholder {
  color: #AAA;
}

.Text::-webkit-input-placeholder, .TextArea::-webkit-input-placeholder {
  color: #AAA;
}

.Text:-moz-placeholder, .TextArea:-moz-placeholder {
  color: #AAA;
}

.Text::-moz-placeholder, .TextArea::-moz-placeholder {
  color: #AAA;
}

.Text::-webkit-input-placeholder, .TextArea::-webkit-input-placeholder {
  color: #AAA;
}

.Text:-ms-input-placeholder, .TextArea:-ms-input-placeholder {
  color: #AAA;
}

.Text::placeholder, .TextArea::placeholder {
  color: #AAA;
}

.Text.disabled::-webkit-input-placeholder, .TextArea.disabled::-webkit-input-placeholder {
  color: #444;
}

.Text.disabled::-moz-placeholder, .TextArea.disabled::-moz-placeholder {
  color: #444;
}

.Text.disabled:-moz-placeholder, .TextArea.disabled:-moz-placeholder {
  color: #444;
}

.Text.disabled:-ms-input-placeholder, .TextArea.disabled:-ms-input-placeholder {
  color: #444;
}

.Text.disabled::placeholder, .TextArea.disabled::placeholder {
  color: #444;
}

.Text:focus, .TextArea:focus, .sp-input:focus {
  outline: none;
  background-color: #333;
}

.TextArea {
  height: initial;
}

.SpinnerButtonsContainer {
  background: linear-gradient(#313131, #222);
  display: inline-block;
  float: right;
  width: 1em;
}

.SpinnerIncrement, .SpinnerDecrement {
  border: 1px solid #000;
  border-left: none;
  display: inline-block;
  float: left;
  width: 1em;
  text-align: center;
}

.SpinnerIncrement:hover, .SpinnerDecrement:hover {
  background: linear-gradient(#414141, #333);
}

.SpinnerNumber {
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: calc(100% - 1em);
}

.SpinnerIncrement {
  height: calc(.75em - 1px);
}

.SpinnerDecrement {
  height: calc(.75em);
  border-top: none;
}

.SpinnerUpArrow, .SpinnerDownArrow {
  width: 0;
  height: 0;
  margin-top: 0.25em;
  margin-left: 0.25em;
}

.SpinnerUpArrow {
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-bottom: 0.25em solid #CCC;
}

.SpinnerDownArrow {
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-top: 0.25em solid #CCC;
}

.Spinner.disabled .SpinnerUpArrow {
  border-bottom: 0.25em solid #444;
}

.Spinner.disabled .SpinnerDownArrow {
  border-top: 0.25em solid #444;
}

.Spinner, .ComboEditable {
  display: inline-block;
}

.SwitchContainer, .CheckContainer, .RadioContainer {
  display: inline-block;
}

.Check:not(old),
.Radio:not(old),
.Switch:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

.CheckContainer.disabled label,
.RadioContainer.disabled label {
  color: #444;
}

.Check:not(old) + label,
.Radio:not(old) + label {
  display: inline-block;
  margin-left: -2em;
  line-height: 1.5em;
}

.Check:not(old) + label .outer,
.Radio:not(old) + label .outer {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 0.0625em solid #000;
  border-radius: 0.25em;
  background-color: #222;
  vertical-align: bottom;
}

.Radio:not(old) + label .outer {
  border-radius: 1em;
}

.Check:not(old):checked + label .outer,
.Radio:not(old):checked + label .outer,
.Check:not(old):hover + label .outer,
.Radio:not(old):hover + label .outer {
  background-color: #333;
}

.CheckContainer.disabled label .outer,
.RadioContainer.disabled label .outer,
.CheckContainer:hover.disabled label .outer,
.RadioContainer:hover.disabled label .outer {
  background-color: #101010;
}

.Check:not(old):checked + label .outer:before {
  content: "✓";
  display: block;
  width: 1em;
  color: #CCC;
  font-size: 0.875em;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
}

.Radio:not(old):checked + label .inner {
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin: 0.125em;
  border: 0.0625em solid #000;
  border-radius: 1em;
  background-color: #CCC;
}

.List {
  display: inline-block;
  padding: 0;
  margin: 0.25em;
  background-color: #222;
  border: 1px solid #000;
  overflow-y: auto;
}

.List.disabled {
  background-color: #101010;
  color: #444;
}

.List.h-scroll {
  overflow-x: auto;
}

.ListItem {
  cursor: default;
  padding: 0.175em 0.5em;
}

.ListItem.selected {
  background: linear-gradient(#414141, #333);
}

.List.disabled .ListItem:hover, .List.disabled .ListItem.selected {
  background-color: #101010;
}

.Combo .arrow-container {
  width: 1em;
  display: inline-block;
  float: right;
}

.Combo .arrow-up-container {
  margin-top: 0.45em;
}

.Combo .arrow-up-container, .Combo .arrow-down-container {
  display: inline-block;
  float: left;
  line-height: initial;
  width: 1em;
  margin-left: 0.5em;
  height: 0.4em;
}

.Combo .arrow-up, .Combo .arrow-down {
  width: 0;
  height: 0;
  border-left: 0.2em solid transparent;
  border-right: 0.2em solid transparent;
}

.Combo .arrow-up {
  border-bottom: 0.2em solid #CCC;
}

.Combo .arrow-down {
  border-top: 0.2em solid #CCC;
}

.Combo.disabled .arrow-up {
  border-bottom: 0.2em solid #444;
}

.Combo.disabled .arrow-down {
  border-top: 0.2em solid #444;
}

.Combo {
  text-align: left;
}

.ComboItemList {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
  overflow: auto;
  border-top: none;
  background-color: #222;
  z-index: 10000;
}

.ComboItemList.hidden {
  display: none;
}

.ComboItemList:not(.hidden) {
  z-index: 1;
}

.ComboItemList.overlayed {
  border-top: 1px solid #000;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.75);
}

.ComboItem {
  cursor: default;
  padding: 0.175em 5px;
}

.ComboItem.selected {
  display: none;
}

.ComboItem:hover {
  background: linear-gradient(#414141, #333);
}

.ComboEditable .Text {
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: calc(100% - 1em - 3px);
}

.ComboEditableButtonContainer {
  margin-top: 0;
  border-radius: 5px;
  border-left: none;
  display: inline-block;
  float: right;
  background: linear-gradient(#313131, #222);
}

.ComboEditableButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  margin-left: 0;
  height: 1.5em;
}

.Combo.listShown, .ComboEditable.listShown .Text {
  border-bottom-left-radius: 0;
}

.Combo.listShown, .ComboEditable.listShown .ComboEditableButton {
  border-bottom-right-radius: 0;
}

.ComboEditableArrowContainer {
  display: inline-block;
  margin-top: 0.75em;
}

.ComboEditableArrowContainer .down-arrow {
  border-top: 0.25em solid #CCC;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
}

.ComboEditable.disabled .ComboEditableArrowContainer .down-arrow {
  border-top: 0.25em solid #444;
}

.Table {
  background-color: #222;
  border: 1px solid #000;
  border-collapse: collapse;
  color: #CCC;
  font-size: inherit;
  font-family: inherit;
}

.TableHeader {
  background: linear-gradient(#414141, #333);
}

.Table.disabled, .Table.disabled .TableRow:hover, .Table.disabled .TableHeader {
  color: #444;
  background-color: #101010;
}

.TableHeader, .TableRowValue {
  cursor: default;
  padding: 5px;
}

.TableHeader, .TableRow, .TableRowValue {
  border: 1px solid #000;
}

.TableRow:hover {
  background: linear-gradient(#414141, #333);
}

.ColorPickerReplacer, .ColorPickerReplacer:hover, .ColorPickerReplacer.sp-disabled, .ColorPicker.sp-active {
  border: 1px solid #000;
}

.ColorPickerReplacer {
  margin: 0.25em;
  height: calc(1.5em - 2px);
  width: calc(1.75em - 2px);
  background: linear-gradient(#313131, #222);
  border: 1px solid #000;
  cursor: default;
}
.ColorPickerReplacer .sp-preview {
  width: calc(1.25em - 4px);
  height: calc(1em - 4px);
  margin: 0.25em 0 0 0.25em;
  border: 1px solid #CCC;
}

.ColorPickerReplacer.sp-disabled > sp-preview {
  border: 1px solid #444;
}

.ColorPickerReplacer:hover, .ColorPicker.sp-active, .sp-replacer.sp-active {
  background: linear-gradient(#414141, #333);
  border-color: #000;
}

.ColorPickerReplacer.sp-disabled, ColorPickerReplacer.sp-disabled:hover {
  background: none;
  background-color: #101010;
}

.ColorPickerContainer {
  background-color: #1A1A1A;
  border: 1px solid #000;
}

.sp-picker-container {
  border-left: 1px solid #000;
}

.sp-palette-container {
  border-right: 1px solid #000;
}

.sp-palette-disabled .sp-picker-container {
  border-left: none;
}

.sp-input:focus {
  border: 1px solid #000;
}

.TabFolder {
  display: inline-block;
}

.TabContainer {
  width: 100%;
  display: inline-block;
}

.Tab {
  display: inline-block;
  background: linear-gradient(#313131, #222);
  padding: 5px;
  border: 1px solid #000;
  border-bottom: none;
  cursor: default;
}

.Tab:not(:first-child) {
  border-left: none;
}

.Tab:first-child {
  border-top-left-radius: 5px;
}

.Tab:last-child {
  border-top-right-radius: 5px;
}

.Tab:not(.disabled).selected {
  background: linear-gradient(#181818, #282828);
}

.Tab:not(.disabled):hover {
  background: #333;
}

.Tab.disabled {
  background: #101010;
}

.TabContentContainer {
  width: calc(100% - 2px - 10px);
  border: 1px solid #000;
  padding: 5px;
  overflow-y: auto;
}

.ProgressBar {
  height: 1em;
  border: 1px solid #000;
  display: inline-block;
}

.ProgressBar, .ProgressBarInner {
  border-radius: 5px;
}

.ProgressBarInner {
  height: 100%;
  background-color: #333;
  transition: width 0.3s ease;
}

.ProgressBar:not(.full):not(.indeterminate) .ProgressBarInner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ProgressBar.indeterminate {
  overflow-x: hidden;
}
.ProgressBar.indeterminate .ProgressBarInner {
  animation: IndeterminateProgress 1.25s linear 0s infinite alternate;
}

@keyframes IndeterminateProgress {
  0% {
    width: 20%;
    margin-left: 0;
  }
  100% {
    width: 20%;
    margin-left: 80%;
  }
}

/*# sourceMappingURL=laf-default.css.map */
